#include "/home/jonlaokan/.dotfiles/colors/dracula"

! -----------------------------------------------------------------------------
! Xft Font Configuration
! -----------------------------------------------------------------------------

Xft.dpi: 144
Xft.rgba:rgb
Xft.antialias:true
Xft.hinting:false
Xft.lcdfilter:lcddefault

